
h2{
    color:rgba(0,151,215) ;
    text-align: center;
    margin-top: 5% ;
}
.cadre{
    display: flex;
    justify-content: space-evenly;
	height:200px;
    background-color: rgba(0,151,215,0.6);
    background-repeat: no-repeat;
    background-position: center;
    margin-top: 10%;
    margin-bottom: 20%;
    margin-left: 20%;
    margin-right: 20%;
    border: solid 1px rgba(0,151,215,0.2);
    border-radius: 30px;
   
}

form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
 
}
main p {
    text-align: center;
    font-family:  "Orkney Bold",sans-serif;
    margin-top: 10%;
    font-size: 45px;

}
form input,form textarea,form button{
    margin-top: 5%;
}


