@import url("../css/voyages.css");

body{
    text-align: center;
    background: rgb(238,191,112);
    background: linear-gradient(178deg, rgba(238,191,112,1) 0%, rgba(233,203,153,1) 12%, rgba(255,249,226,1) 26%, rgba(211,226,232,1) 86%, rgba(88,183,223,1) 96%, rgba(0,151,215,1) 100%);}

#l0{
    text-decoration: none;
    display: flex;
    justify-content: right;
    flex-direction: column;
    margin-left: 1385px;}

.resumer{
    display: flex;
    justify-content: space-around;
    white-space: pre-line;
    text-align: start;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: larger;
    margin-bottom: 5%;}

.r1{
    border: 1px solid;
    border-color: aqua;
    background-color: bisque;
    margin-top: 5%;
    font-style: italic;}

.r2{
    margin-top: -7%;
    margin-bottom: 2%;
    margin-left: 2%;}

h2{
    margin-top: 7%;
    margin-bottom: 4cm;
    font-size: xx-large;
    font-style: italic;
    font-weight: bold;
    color: brown;}

.avant{
    display: flex;
    justify-content: space-around;
    white-space: pre-line;
    margin-bottom: 5%;}

.av1{
    display: grid;
    grid-template-columns: 631px;
    gap: 54px;}

.av1 img{
    border: 12px solid;
    background: black;
    border-radius: 209px;}

.reverse{
    display: flex;}

#intro{
    margin-top: 10%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    white-space: pre-line;}

h1{
    font-weight: lighter;
    color: darkslateblue;
    font-size: xx-large;
    box-shadow: 3px 3px mediumaquamarine, -1em 0 .4em mediumspringgreen;
    width: 30%;
    margin-bottom: 2cm;
    margin-top: 5%;
    margin-left: 33%;}

main{
    justify-content: space-between;
    display: flex;
    white-space: pre-line;
    margin-bottom: 5%;}

main img{
    border: 12px solid rgba( 0, 151, 215, 1);
    background: rgba( 0, 151, 215, 1);
    border-radius: 90px;}

.a1{
    margin-top: 3cm;
    margin-left: 200px;}

h3{
    color: rgba( 0, 151, 215, 1);
    font-weight: bold;
    margin-bottom: -2;
    font-size: 1cm;}

.a2{
    margin-top: 4cm;
    border-left: 1px solid rgba( 0, 151, 215, 1);
    height: fit-content;}

.nombre{
    margin-left: 1cm;}

.n1{
    font-weight: bold;
    font-size: 1cm;
    margin-bottom: -1%;}

#l1{
    margin-right: 20px;}

#l2{
    color: blanchedalmond;
    font-family: fantasy;
    margin-bottom: 5%;}