html,body{
    margin: 0%;
    padding: 0%;
}

    .slider {
        border: 3px solid rgb(153, 60, 60);
        overflow: hidden;
        transform: scale(1);
        transition: 0.1s;
    
    }
    
    .slider:hover .slide {
        opacity: 3;
    }
    
    .slider:hover {
        transform: scale(1.2);
    }
    
    .slide {
        float: left;
        width: 500px;
        height: auto;
        opacity: 0.7;
    }
    
    .slides {
        width: calc(500px *5);
        animation: glisse 20s infinite;
        position: relative;
    }
    
    @keyframes glisse {
        0% {
            transform: translateX(0);
        }
        25% {
            transform: translateX(-500px);
        }
        50% {
            transform: translateX(-1000px);
        }
        75% {
            transform: translateX(-1500px);
        }
        100% {
            transform: translateX(-2000px);
        }
    }

.pet{
    position: absolute;
}

header {
background-image: url(./image/acceuil/Djwy4UcW0AAAY0T.jpg);
background-repeat: no-repeat;
height: 100vh;
background-size: cover;
box-shadow: 15px 15px 15px rgb(0, 0, 0);
}

.background1{
    background-color: rgb(132, 173, 234);
    border: 80px solid rgba(197, 165, 89, 0.5);
    width: 1200px;
    margin: auto;
}

.contenaire1{
    display: flex;
    justify-content: flex-start;

}
.texte1, .texte2{
    margin-left: 5%;
    margin-right: 5%;
}



.contenaire2{
    display: flex;
    flex-direction: row-reverse;
}