html,body{
    margin: 0;
    padding: 0;
}
header{
    height: 200px;
    background-color: blue;
}
main{
    display: flex;
    justify-content: space-between;
    margin-top: 5%;
    margin-left: 1%;
    margin-right: 1%;
}

article{
    display: flex;
    justify-content: space-evenly;
    margin-top: 5%;
}
#plage1 p,#plage2 p, #plage3 p, #plage4 p, #plage5 p, #plage6 p, #plage7 p{
    color: white;
    margin-right: 2%;
    margin-left: 2%;
    font-style:italic ;
}

#plage7{
    display: flex;
    justify-content: center;
    margin-left: 27%;
    margin-right: 27%;
    margin-top: 5%;
    margin-bottom: 5%;
}

.fondu{
    position: relative;
    height: 400px;
}
.image{
    display: block;
    height:250px
    
}
.over{
    display: flex;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: 0.5;
    background-color: #008CBA;
}
.fondu:hover .over{
    opacity: 1;
}