html,body{
    margin: 0%;
    padding: 0%;
}

/* header {
    } */

body{
    background-size: cover;
    text-align: center;
    background: rgb(134,166,255);
    background: linear-gradient(180deg, rgba(134,166,255,0.7469362745098039) 0%, rgba(254,254,254,1) 51%, rgba(254,254,254,1) 100%);
}


.contenaire{ 
    background-image: url(./image/randoneÃÅe/cathedrale-de-la-major-detailmicalefotcm-1920x960.jpg);
    position: relative;
    text-align: center;
    background-repeat: no-repeat;
    height: 100vh;
    background-size: cover;
}


.textedanslimage1{
position: absolute;
color: white;
top: 50%;
left: 30%;
background-color: black;

}



.contenaire1 , .contenaire2 , .rang3 , .ligne1{
  display: flex;  
  padding-top: 5%;
  padding-bottom: 7%;
}


.contenaire1{
    align-items: center;
}

.contenaire2{
    flex-direction: row-reverse;
}
    

.quadrilataire{
    border:5px solid rgba(0, 0, 0, 0.212);
}

.colonnes{
display: grid;
grid-template-columns: repeat(2, auto);
column-gap: 10px;
row-gap: 15px;
justify-content: flex-end;
}

.rang3{
    justify-content: center;
    gap: 5%;
}

.colonnes3{
    border-radius: 7% 27%;
    border:5px solid  ;
}


.paragraphe2{
    background: rgb(59,111,255);
    background: linear-gradient(87deg, rgba(59,111,255,0.3071603641456583) 0%, rgba(254,254,254,1) 30%, rgba(254,254,254,1) 70%, rgba(59,111,255,0.27074579831932777) 100%);}


.paragraphe3{
    background: rgb(152,152,152);
    background: linear-gradient(143deg, rgba(152,152,152,0.68) 0%, rgba(254,254,254,1) 40%, rgba(254,254,254,1) 60%, rgba(152,152,152,0.68) 100%);}

.titre1{
    background: rgb(255,170,81);
background: linear-gradient(143deg, rgba(255,170,81,0.6797093837535014) 0%, rgba(254,254,254,1) 40%, rgba(254,254,254,1) 60%, rgba(255,170,81,0.5340511204481793) 100%);
}

.ligne1{
    gap: 7px;
}

.imagetexte1 , .quadrilataire{
    border-radius: 12%;
}

.imagetexte1{
    border: 5px solid rgba(206, 98, 35, 0.445);
}


figcaption{
    display: flex;
    justify-content: end;
}