html,body{
    margin: 0%;
    padding: 0%;
}

header {
   
    }

body{
    background-size: cover;
    text-align: center;
    background: rgb(134,166,255);
    background: linear-gradient(180deg, rgba(134,166,255,0.7469362745098039) 0%, rgba(254,254,254,1) 51%, rgba(254,254,254,1) 100%);
}


.contenaire{ 
    background-image: url(./image/randonée/5Ulu_I7SKOFIiSmuPLgnaKbqNnWjxXzJ0TtqIOtj3UzsjKWWx71eNwlMZYYHRd7bhcYA7fqltoiiVU09dzD4tqirQzYzhWP760kLMXS7CVOzHsw3PYtqqaSwCZe4lS4-pnGcUWnXipIE2kDj5wjSjbBFgcPZUr0WmynJ-Cx7_pD85t1NMY4AzD7eho8SJmI6JbcOJUMInCDRAdqx40tbRcynj28iF4.jpg);
margin: -2%;
    position: relative;
    text-align: center;
    background-repeat: no-repeat;
    height: 102vh;
    background-size: cover;
}


.textedanslimage1{
padding: 0%;
position: absolute;
color: white;
font-size: large;
top: 50%;
left: 43%;
transform: translate(-50%, -5);
}


.contenaire1{
display: flex;
justify-content: flex-start;
}

.contenaire2{
    display: flex;
    flex-direction: row-reverse;
    padding-top: 1%;
}
    

.quadrilataire{
border-radius: 12%;
}

.colonnes{
display: grid;
grid-template-columns: repeat(2, auto);
column-gap: 10px;
row-gap: 15px;
justify-content: flex-end;

}

.rang{
    display: flex;
    justify-content: center;
    gap: 2%
}

.paragraphe2{
    background-color: brown;
}